name: Tests

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      -
        name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly
      -
        name: Update Modules
        run: make update
      -
        name: Build
        run: make build
      -
        name: Run Tests
        run: make test